In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import numpy as np

In [2]:
may_scooters_df = pd.read_csv('../data/may.csv')

In [3]:
may_scooters_df = may_scooters_df[~may_scooters_df.sumdgroup.str.contains("bicycle")]

In [4]:
may_scooters_df.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird

In [5]:
lime_may = may_scooters_df.loc[may_scooters_df.companyname == 'Lime']
bird_may = may_scooters_df.loc[may_scooters_df.companyname == 'Bird']
lyft_may = may_scooters_df.loc[may_scooters_df.companyname == 'Lyft']
jump_may = may_scooters_df.loc[may_scooters_df.companyname == 'Jump']
spin_may = may_scooters_df.loc[may_scooters_df.companyname == 'Spin']
gotcha_may = may_scooters_df.loc[may_scooters_df.companyname == 'Gotcha']
bolt_may = may_scooters_df.loc[may_scooters_df.companyname == 'Bolt']

In [6]:
lime_may_num = len(lime_may['sumdid'].unique().tolist())
bird_may_num = len(lime_may['sumdid'].unique().tolist())
lyft_may_num = len(lime_may['sumdid'].unique().tolist())
jump_may_num = len(lime_may['sumdid'].unique().tolist())
spin_may_num = len(lime_may['sumdid'].unique().tolist())
gotcha_may_num = len(lime_may['sumdid'].unique().tolist())
bolt_may_num = len(lime_may['sumdid'].unique().tolist())

In [7]:
scooter_counts = {'Lime':lime_may_num, 'Bird':bird_may_num, 'Lyft':lyft_may_num, 'Spin':spin_may_num,
                  'Gotcha':gotcha_may_num, 'Bolt':bolt_may_num}

In [8]:
lime_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
1225,2019-05-01 00:04:56.883000,36.179623,-86.792091,PoweredGEHJ5GBPV7NJ5,Powered,29.0,scooter,0.0,Lime
1226,2019-05-01 00:04:56.883000,36.179466,-86.838192,PoweredRZTJOC7AACAQV,Powered,100.0,scooter,0.0,Lime
1227,2019-05-01 00:04:56.883000,36.190752,-86.755384,PoweredKF47YZWLD3URV,Powered,71.0,scooter,0.0,Lime
1228,2019-05-01 00:04:56.883000,36.227547,-86.733978,PoweredZUQ6GPER5N4CR,Powered,96.0,scooter,0.0,Lime
1229,2019-05-01 00:04:56.883000,36.179418,-86.798616,Powered2ZA4GQSKRFQEO,Powered,65.0,scooter,0.0,Lime
1230,2019-05-01 00:04:56.883000,36.175398,-86.792651,PoweredPUASVRDAZSFNT,Powered,71.0,scooter,0.0,Lime
1231,2019-05-01 00:04:56.883000,36.179446,-86.838206,PoweredZVTEPTDZIUK5L,Powered,50.0,scooter,0.0,Lime
1232,2019-05-01 00:04:56.883000,36.168649,-86.767332,PoweredWTD4JXI23Z2LA,Powered,64.0,scooter,0.0,Lime
1233,2019-05-01 00:04:56.883000,36.199951,-86.725217,Powered2KGH5PMNPSEUX,Powered,61.0,scooter,0.0,Lime
1234,2019-05-01 00:04:56.883000,36.172363,-86.779901,PoweredQDSTICTYVXHJL,Powered,51.0,scooter,0.0,Lime

In [9]:
bird_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-05-01 00:01:41.247000,36.136822,-86.799877,PoweredLIRL1,Powered,93.0,scooter,0.0,Bird
1,2019-05-01 00:01:41.247000,36.191252,-86.772945,PoweredXWRWC,Powered,35.0,scooter,0.0,Bird
2,2019-05-01 00:01:41.247000,36.144752,-86.806293,PoweredMEJEH,Powered,90.0,scooter,0.0,Bird
3,2019-05-01 00:01:41.247000,36.162056,-86.774688,Powered1A7TC,Powered,88.0,scooter,0.0,Bird
4,2019-05-01 00:01:41.247000,36.150973,-86.783109,Powered2TYEF,Powered,98.0,scooter,0.0,Bird
5,2019-05-01 00:01:41.247000,36.157188,-86.769978,Powered3F3VK,Powered,82.0,scooter,0.0,Bird
6,2019-05-01 00:01:41.247000,36.154348,-86.784765,PoweredVL7YG,Powered,56.0,scooter,0.0,Bird
7,2019-05-01 00:01:41.247000,36.158930,-86.775987,Powered5LNUG,Powered,100.0,scooter,0.0,Bird
8,2019-05-01 00:01:41.247000,36.135993,-86.804226,Powered7SPQQ,Powered,85.0,scooter,0.0,Bird
9,2019-05-01 00:01:41.247000,36.148938,-86.811256,PoweredBV1DT,Powered,65.0,scooter,0.0,Bird

In [10]:
lyft_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
689,2019-05-01 00:02:25.383000,36.149945,-86.814499,Powered416613,Powered,49.0,scooter,0.0,Lyft
690,2019-05-01 00:02:34.753000,36.146887,-86.793057,Powered912425,Powered,96.0,scooter,0.0,Lyft
691,2019-05-01 00:02:48.740000,36.163957,-86.769401,Powered741856,Powered,82.0,scooter,0.0,Lyft
692,2019-05-01 00:02:59.247000,36.149762,-86.800572,Powered685723,Powered,88.0,scooter,0.0,Lyft
693,2019-05-01 00:02:59.543000,36.156333,-86.775500,Powered974794,Powered,88.0,scooter,0.0,Lyft
694,2019-05-01 00:02:59.813000,36.157877,-86.777313,Powered084995,Powered,89.0,scooter,0.0,Lyft
695,2019-05-01 00:02:59.853000,36.156336,-86.775576,Powered782102,Powered,90.0,scooter,0.0,Lyft
696,2019-05-01 00:03:00.473000,36.162494,-86.775664,Powered251145,Powered,57.0,scooter,0.0,Lyft
697,2019-05-01 00:03:00.547000,36.151927,-86.784393,Powered438572,Powered,70.0,scooter,0.0,Lyft
698,2019-05-01 00:03:00.670000,36.169207,-86.784001,Powered304869,Powered,79.0,scooter,0.0,Lyft

In [18]:
jump_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
7696375,2019-05-16 22:12:12,36.1200,-86.7533,Powered6f889e9e-4b1e-56a7-88aa-9a17e61880b9,Powered,0.0,scooter,0.0,Jump
7696376,2019-05-16 22:12:12,36.1200,-86.7533,Powered3a59100e-f513-52c4-841a-48bc911d66fd,Powered,0.0,scooter,0.0,Jump
7696377,2019-05-16 22:12:12,36.1198,-86.7534,Powered1d9fcc46-84f8-57a9-b9fe-b06349acbb05,Powered,0.0,scooter,0.0,Jump
7696378,2019-05-16 22:12:12,36.1198,-86.7531,Powered0ee69eef-dfc0-574a-9cd9-d21fc6360ec5,Powered,0.0,scooter,0.0,Jump
7696379,2019-05-16 22:12:12,36.1199,-86.7534,Poweredb352730c-ecb6-57ad-a491-f8819be313b8,Powered,0.0,scooter,0.0,Jump
7696380,2019-05-16 22:12:12,36.1202,-86.7537,Powered8a534761-c8ee-5530-a920-4320e46bd29d,Powered,0.0,scooter,0.0,Jump
7696381,2019-05-16 22:12:12,36.1594,-86.7810,Poweredb3b2528e-350e-5d2a-91be-0bf6117f37ee,Powered,0.0,scooter,0.0,Jump
7696382,2019-05-16 22:12:12,36.1651,-86.7757,Powered6f69ba2d-51d3-5ca0-b14a-66a2be54d420,Powered,0.0,scooter,0.0,Jump
7696383,2019-05-16 22:12:12,36.1198,-86.7532,Powerede4799630-9c4f-5034-b373-9f21a1d99603,Powered,0.0,scooter,0.0,Jump
7696384,2019-05-16 22:12:12,36.1201,-86.7533,Poweredcc9a03b4-69c8-56ac-b118-a2589ad7c378,Powered,0.0,scooter,0.0,Jump

In [12]:
spin_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
7022629,2019-05-15 19:28:03.690000,36.15904,-86.78252,Powered8319078,Powered,99.0,Scooter,0.0,Spin
7022630,2019-05-15 19:28:03.690000,36.14969,-86.80601,Powered1098749,Powered,99.0,Scooter,0.0,Spin
7022631,2019-05-15 19:28:03.690000,36.15284,-86.78300,Powered9461904,Powered,94.0,Scooter,0.0,Spin
7022632,2019-05-15 19:28:03.690000,36.15877,-86.78269,Powered4974981,Powered,98.0,Scooter,0.0,Spin
7022633,2019-05-15 19:28:03.690000,36.17680,-86.75010,Powered2043594,Powered,97.0,Scooter,0.0,Spin
7022634,2019-05-15 19:28:03.690000,36.17757,-86.75144,Powered4271548,Powered,100.0,Scooter,0.0,Spin
7022635,2019-05-15 19:28:03.690000,36.15288,-86.78308,Powered1405763,Powered,93.0,Scooter,0.0,Spin
7022636,2019-05-15 19:28:03.690000,36.15831,-86.78312,Powered9641182,Powered,96.0,Scooter,0.0,Spin
7022637,2019-05-15 19:28:03.690000,36.14987,-86.79690,Powered6792633,Powered,91.0,Scooter,0.0,Spin
7022638,2019-05-15 19:28:03.690000,36.15004,-86.80244,Powered4220115,Powered,99.0,Scooter,0.0,Spin

In [13]:
gotcha_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
1077,2019-05-01 00:04:48.030000,36.162910,-86.776332,Powered406,Powered,0.0,Scooter,0.0,Gotcha
1078,2019-05-01 00:04:48.030000,36.121452,-86.770185,Powered627,Powered,78.0,Scooter,0.0,Gotcha
1079,2019-05-01 00:04:48.030000,36.134748,-86.788827,Powered450,Powered,89.0,Scooter,0.0,Gotcha
1080,2019-05-01 00:04:48.030000,36.121339,-86.770241,Powered812,Powered,45.0,Scooter,0.0,Gotcha
1081,2019-05-01 00:04:48.030000,36.151932,-86.784369,Powered779,Powered,96.0,Scooter,0.0,Gotcha
1082,2019-05-01 00:04:48.030000,36.121443,-86.770380,Powered699,Powered,75.0,Scooter,0.0,Gotcha
1083,2019-05-01 00:04:48.030000,36.151901,-86.784509,Powered430,Powered,91.0,Scooter,0.0,Gotcha
1084,2019-05-01 00:04:48.030000,36.152102,-86.762997,Powered785,Powered,0.0,Scooter,0.0,Gotcha
1085,2019-05-01 00:04:48.030000,36.121341,-86.770286,Powered399,Powered,93.0,Scooter,0.0,Gotcha
1086,2019-05-01 00:04:48.030000,36.121578,-86.770131,Powered375,Powered,55.0,Scooter,0.0,Gotcha

In [14]:
bolt_may.head(10)

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
12757046,2019-05-24 00:04:42,36.154735,-86.777386,Powered-751e19ec-b697-a51f-04ea-0bf9a2e125c9,Powered,92.68,Scooter,0.15,Bolt
12757049,2019-05-24 00:04:42,36.145930,-86.811713,Powered-7b003f0c-6364-5ed9-9e0e-b33e8b18aec4,Powered,100.00,Scooter,0.15,Bolt
12757050,2019-05-24 00:04:42,36.161800,-86.775540,Powered-617c389c-8049-38d2-c029-94b954a241b6,Powered,71.11,Scooter,0.15,Bolt
12757051,2019-05-24 00:04:42,36.155334,-86.780993,Powered-578ab94c-2988-d9f1-a3c0-48feaa93fede,Powered,77.64,Scooter,0.15,Bolt
12757052,2019-05-24 00:04:42,36.162382,-86.774510,Powered-8a086751-8528-1a41-482c-c0b43c247859,Powered,100.00,Scooter,0.15,Bolt
12757053,2019-05-24 00:04:42,36.155348,-86.780872,Powered-eebcba84-372c-af8c-ef5f-03b929ff78b0,Powered,98.36,Scooter,0.15,Bolt
12757054,2019-05-24 00:04:42,36.157851,-86.779649,Powered-ec429e81-4e77-5ee5-1f97-36072a62eb5f,Powered,85.30,Scooter,0.15,Bolt
12757055,2019-05-24 00:04:42,36.152535,-86.799738,Powered-fe3377d6-5d33-4902-dbc5-d7165616b48d,Powered,78.78,Scooter,0.15,Bolt
12757056,2019-05-24 00:04:42,36.149766,-86.811507,Powered-7b5398ae-ac1d-b322-2115-077efd5fcdab,Powered,89.56,Scooter,0.15,Bolt
12757057,2019-05-24 00:04:42,36.153411,-86.785965,Powered-94470d4c-c4bc-6967-b2a5-74c0bb95330f,Powered,78.78,Scooter,0.15,Bolt